
:root {
  --nav-width: 20rem;
}

header, div.header, nav, main, div.main, footer, div.footer {
  /*max-width: 60em;*/
  clear: both;
  display: block;
  margin-left: 20px;
  padding-left: 10px;
}

header, div.header, main, div.main, footer, div.footer {
  margin-right: calc(var(--nav-width) +4rem);
}

header, div.header {
  padding-top: 8px; padding-bottom: 4px;
  margin-bottom: 24px;
}

header, div.header, main, div.main, nav {
  clear: none;
}

nav {
  position: relative;
  margin-top: -164px;
  float: right;
  width: var(--nav-width); /* @@TODO check min-width and max-width */
  height: auto;
  /*padding: 0;*//*'none' is not valid; 0 has different effect*/
  top: .5em; 
  right: 20px; 
  bottom: auto; 
  left: auto;
  padding-bottom: 10px;
}

nav#sitemap {
  position: relative;
  width: auto;
  margin-left: 40px;
}

nav h2 {
  margin-top: 6px; margin-bottom: 0;
  font-size: 1.4em;
}

nav a { 
  display: block;
  height: 1.4em;
  margin-bottom: 10px;
}

nav > ul {
  list-style-type: none;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 6px 0;
}

nav > ul > li {
  margin-bottom: 6px;
  margin-right: 20px;
  margin-left: -20px;
  font-size: 1.05em;
}

nav > ul > li > ul {
  list-style-type: none;
  font-size: 0.94em;
  margin-left: 0;
  padding-left: 20px;
}

nav > ul > li > ul > li {
  margin-top: 2px;
}

nav > ul > li.active a,
nav > ul > li[aria-current="page"] a,
nav > ul > li > ul > li.active a, 
nav > ul > li > ul > li[aria-current="page"] a { 
  cursor: default;
}

nav > ul > li.active > ul > li > a,
nav > ul > li[aria-current="page"] > ul > li > a {
  border-left: none;
  cursor: pointer;
}

nav a:link,
nav a:visited, 
nav a:hover, nav a:focus,
nav a:active {
  font-size: 1em;
  text-decoration: none;
  padding-left: 2px;
}

main a, div.main a, footer a, div.footer a {
  padding-right: 2px; padding-left: 2px;
}

footer, div.footer {
  margin-top: 60px;
  padding-left: 4px;
  border-width: 4px 0px;
  border-style: solid;
}

footer p, div.footer p {
  font-size: 0.94em;
}

footer p a[rel=license]:first-child:hover, div.footer p a[rel=license]:first-child:hover,
footer p a[rel=license]:first-child:focus, div.footer p a[rel=license]:first-child:focus {
  background-color: transparent;
}

h1 {
  letter-spacing: 0.15em;
}

rp, rt {
  display: none;
}

.booktitle, .journal, .proceedings, .conference, .editedvolume, .phdthesis, .magazine, .newspaper, .website, .blog, i.ytchannel {
  font-style: italic;
}

.deleted, .hidden, .notyet {
  display: none;
}

.homePageDecorativeImg {
  /*float: right;*/
  padding: 0;
  margin-top: 30px;
  margin-left: 0;
}

code.preserve-whitespace { white-space: pre; }
