@import url("righthand_floating_navigation_layout.css");

:root {
  --nav-focus-highlight: #E2725B; /*terra cotta: 3.09:1 contrast ratio with white*/
}

html {
  padding: 0;
  margin: 0;
}
body {
  color: #000;
  background: #fff;
  font-family: Verdana, 'Trebuchet MS', 'SF Pro', 'Libre Baskerville', Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.4em; letter-spacing: .01em; word-spacing: 0.1em;
}

a {
  color: #0A6879;
}
a:visited {
  color: #325050;
}
a:hover, a:focus-visible {
  color: #2e484c;
  outline: 2px solid #2e484c;
  text-decoration: none;
}

header, div.header {
  padding: 0;
  background: #5583B5 50% 0 url('./StuttgartBib.jpg') repeat-x; /* old IE fallback */
  background-position: left;
  text-align: left;
  /* @@TODO create higher header background image
    + height & width of the image:
    + height: @@@px; width: 1521px; max-width: 75%
  */
}

#home section {
  width: 46%;
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 10px;
}

h1 {
  padding: 20px 0 0 20px;
  margin: 0 0 0 0;
  color: #fff;
  background-color: transparent;
  font-weight: normal;
  line-height: 1.35em; /* CS: added to prevent overlapping text on browser zoom */

  font-family: 'Julius Sans One', 'Trebuchet MS', Verdana, sans-serif;

  height: 113px; /* height of #header minus h1's top padding */
}

h1 { font-size: 2.5em; }
#home h1 { font-size: 3em; letter-spacing: 1.3px; }

h1 .h1txt {
  background: rgba(0, 0, 0, 0.5);
  padding: 4px;
}

nav {
  background-color: #2e484c;
  color: inherit;
}

nav h2 {
  background-color: transparent;
  color: white;
  margin-bottom: 6px;
}

nav > ul {
  color: #41409A;
  background-color: transparent;
}

nav > ul > li {
  color: inherit;
  background-color: transparent; 
}

nav > ul > li > ul {
  color: inherit;
  background-color: transparent;
}

/*nav > ul > li[aria-current="page"] a,
nav > ul > li > ul > li[aria-current="page"] a,*/
nav > ul > li.active a,
nav > ul > li > ul > li.active a {
  border-left: 10px solid var(--nav-focus-highlight);
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:focus-visible,
nav a:active {
  font-size: 1em;
  text-decoration: none;
  padding-left: 2px;
  outline: none;
}

nav a:link,
nav a:visited {
  border-top: /*none;*/ 1px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: /*none;*/ 1px solid transparent;
  border-left: 10px solid transparent;
  background-color: #98A8BF;
  color: black;
  outline: none;
}

nav a:hover, nav a:focus-visible,
nav a:active {
  border-top: /*none;*/ 1px solid var(--nav-focus-highlight);
  border-right: 10px solid var(--nav-focus-highlight);
  border-bottom: /*none;*/ 1px solid var(--nav-focus-highlight);
  border-left: 10px solid var(--nav-focus-highlight);
  outline: none;
}

a:link, a:visited {
  background-color: transparent;
  color: #052452;
}

blockquote {
  margin-left: 0;
  background-color: #98A8BF;
  color: #000;
  padding: 4px 12px;
  border: 0.1px solid #98A8BF;
  border-radius: 10px;
}
blockquote cite {
  color: #333;
  font-size: 0.95rem;
  display: block;
  margin-top: 0.5rem;
}
blockquote cite:before {
  content: "\2014 \2009";
}

div.quote { quotes: "“" "”" "‘" "’"; }
div.quote::before { content: open-quote; }
div.quote::after { content: close-quote; }

#introquote > p { font-size: 1.1rem; }

h2 {
  color: #2e484c;
  font-family: 'Julius Sans One', 'Trebuchet MS', Verdana, sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.3em;
}

p {
  margin: 0.75em 0;
  line-height: 1.3;
}

table {
  border-collapse: collapse;
  margin-bottom: 12pt;
}
table, th, td {
  border: 1px solid #808080;
}
th, td {
  padding: 6px;
}
th { text-align: left; }

kbd {
  font-family: 'Consolas', 'Andale Mono', Courier, 'Lucida Sans Unicode', monospace;
  background-color: black;
  color: #00FF00;
  padding-left: 4px; padding-right: 4px;
}

pre code strong {
  color: red;
  background-color: transparent;
  font-weight: bolder;
}

footer, div.footer {
  border: 1px solid #51739C;
  border-left: 20px solid #51739C;
  padding-left: 10px;
}

div.other {
  width: 100%;
  clear: left;
}

hr {
  color: #51739C;
}
/*.gz-hci { font-weight: bold; }*/

ins {
  text-decoration: underline overline dashed lime 2px;
}

@media(max-width: 854px){
  header, div.header, nav, main, div.main, footer, div.footer {
    margin-left: 10px;
  }

  header, div.header {
    background-image: none;
  }

  #home h1, header h1 { font-size: 2em;
    background: rgba(0, 0, 0, 0.5);
  }

  #home section {
    width: 100%;
    float: left;
    clear: none;
  }

  #home header, #home div.header, #home main, #home div.main, #home footer {
    margin-left: 0; margin-right: 0;
  }

  footer, div.footer {
    margin-top: 20px;
  }
}

