@import url("righthand_fixed_navigation_layout.css");

/* Inspired by Dave Shea's 'Verde Moderna', CSS Zen Garden submission 214 : http://www.csszengarden.com/214/214.css 
  but without the graphics, which are copyrighted, with more contrasting colours, etc.
  In fact, there's not much left of Shea's original design.
*/

html {
  padding: 0;
  margin: 0;
}
body {
  margin: 10px;
  color: #000; /* was #325050 */
  background: #fff;
  font-family: Verdana, 'Trebuchet MS', 'SF Pro', 'Libre Baskerville', Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.4em; letter-spacing: .01em; word-spacing: 0.1em;
}

a {
  color: #0A6879;
}
  a:visited {
    color: #325050;
  }
  a:hover, a:focus {
    color: #2e484c;
    text-decoration: underline;
  }

header {
  height: 60px;
  padding: 20px 0 70px 0;

  background: #2d6360 50% 0 url('./LongjiTerrace_PublicDomain_narrow01.jpg') no-repeat; /* old IE fallback */

  text-align: left;
}

h1 {
  padding: 0;
  margin: 0 0 0 20px;
  color: #fff;
  background-color: transparent;
  font-weight: normal;
  line-height: 1.1em; /* CS: added to prevent overlapping text on browser zoom */

  font-family: 'Julius Sans One', 'Trebuchet MS', Verdana, sans-serif;
  /*text-transform: uppercase;*/
}

h1 { font-size: 2.5em; }
#home h1 { font-size: 3em; }

h1 .h1txt {
  background: rgba(0, 0, 0, 0.5);
  padding: 4px;
}

main, footer {
  margin-right: 20px;
  margin-left: 20px;
}

h2 { 
  margin: 28px 0 0 0;
  color: #2e484c;
  font-family: 'Julius Sans One', 'Trebuchet MS', Verdana, sans-serif;
  font-size: 1.8em;
  font-weight: normal;
}

p {
  margin: 0.75em 0;
  line-height: 1.3;
}

kbd {
  font-family: 'Consolas', 'Andale Mono', Courier, 'Lucida Sans Unicode', monospace;
  background-color: black;
  color: #00FF00;
  padding-left: 4px; padding-right: 4px;
}

footer {
  border-top: 1px solid #2e484c;
  margin-top: 60px;
}
